*{margin: 0px;padding: 0px;font-family: "Aldrich", "Odoo Unicode Support Noto", sans-serif;}
* a{text-decoration: none;color: #fff}
* a:hover{color: #b5e2e1;}
.navbar-light .navbar-toggler{border:4px solid #fff;border-radius: 10px;}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-brand:hover{
    color: #b5e2e1;
}
.top-1{font-weight: bold;}
.navbar-light .navbar-nav .nav-link {
    color: white;padding-left: 20px;
    font-size: 17px;;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #b5e2e1;
}
.bg{background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
    z-index: 997;
    padding: 18px 0;
    }
/*crousel*/

.carousel_heading h1{font-size: 50px;}
.carousel_heading p{font-size: 20px}
.carousel-caption{bottom: 100px;}
.carousel-caption h5{font-size: 60px;font-weight: bold; }
.carousel-caption h5{color:black;padding-right: 564px;}
.carousel-item{height: 570px}
/*CIRCLIPS*/
.img-div-1 img{width:100%;height: 300px;border-radius: 60px}

.buttom{margin-bottom: 40px; padding: 40px 0;color: #32886f}
.text-com span{font-size: 20px;font-weight: bold;}
.text-com p{padding: 20px;font-weight: 600;
box-shadow: 0px 0px 25px -8px rgb(0 93 234 / 75%);
padding: 40px;line-height: 25px;border-radius: 10px
}
.text-com h3{padding-bottom:40px}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio-wrap{box-shadow: 0px 0px 25px -8px rgb(0 93 234 / 75%);border-radius: 10px}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}




.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
/*  background: rgba(69, 80, 91, 0.8);
*/  text-align: center;
}

.portfolio .portfolio-wrap::before {
  content: "";
/*  background: rgba(255, 255, 255, 0.7);
*/  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-fluid{width: 100%;border-radius: 10px}
 
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #d7dce1;
  border-left: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #148af9;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
/*.featured-services1{padding-top:100px}
*/.featured-services1 .icon-box {
  text-align: center;
  padding: 30px 50px;
  line-height: 20px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;

}

.featured-services1 .icon-box::before {
  content: '';
  position: absolute;
  background: #d9f1f2;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services1 .icon-box:hover::before {
  background: #3fbbc0;
  top: 0;
  border-radius: 0px;
}

.featured-services1 .icon {
  margin-bottom: 15px;
  text-align: center;
}



.featured-services1 .title {
  font-weight: 700;
  margin: 22px;
  text-align: center;
}

.featured-services1 .title a {
  color: #8a8989;
  text-decoration: none;font-size: 20px
}

.featured-services1 .description {
/*  font-size: 18px;
*/  line-height: 28px;
  margin-bottom: 0;
font-weight: 600
}
.icon img{width: 80px;border-radius: 100%}
.featured-services1 .icon-box:hover .title a, .featured-services1 .icon-box:hover .description {
  color: #fff;
}

.featured-services1 .icon-box:hover .icon i {
  color: #fff;
}
/*about*/
.sub-about{width: 100%;background: ;height: 200px;
	box-shadow: 0px 0px 25px -8px rgba(0,93,234,0.75);}
.sub-about i{font-size: 45px;color: #32886f;margin-top: 25px;margin-bottom: 15px}
.sub-about span{font-size: 35px;font-weight: bold;}
 .sub-about h6{font-weight: bold;padding: 5px;font-size: 20px}

/*
changes by rakesh*/

.circlips_back{background: url(../img/criclips_back.jpg);background-size: 100%;height: 835px;background-repeat: no-repeat;}
.circlips_back_flip{background: url(../img/criclips_back_flip.jpg);background-size: 100%;height: 700px;background-repeat: no-repeat;}

/*blog*/
.card-img-top1{width: 100%;height: 250px}
.card-text1{font-size: 15px}
.card-title1{font-size: 23px;font-weight: bold;}
.su-blok button{background: #448c9d}
.su-blok button:hover{background: #105278}
/*contact*/

/**/

.mincont{background: #fff;
box-shadow: 0px 0px 23px -17px rgba(0,0,0,0.7);
margin-top: 10px;border-radius: 10px;padding-bottom: 20px}



input:focus, textarea:focus, select:focus{
outline: none;}
.head1{ font-weight: bold;
  color: #32886f;
    font-size: 34px;
    padding-top: 20px;
    /* padding-bottom: 0px; */
    text-align: center;}
.signup{width: 205px;}

.signup input{width: 205px;padding:10px 12px;border-radius: 20px;
box-shadow: -9px -7px 13px -6px rgba(0,0,0,0.75);
border: none;font-size: 17px;
;background: #ebecf0;
box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}
.signup1 input{width: 205px;padding:10px 12px;border-radius: 20px;
box-shadow: -9px -7px 13px -6px rgba(0,0,0,0.75);
border: none;font-size: 17px;
;background: #ebecf0;;
box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;margin-left: 15px
}
.sing-p{color: #32886f;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 600;font-size: 18px;}
.sub-in-singcont{margin-top: 20px}
.sub-in-singcont input{width: 100%;
    padding: 10px 5px;
    /* border-radius: 20px; */
    /* box-shadow: -9px -7px 13px -6px rgb(0 0 0 / 75%); */
    border: none;
    font-size: 17px;
    background: transparent;
    /* box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff; */
    color: #32886f;
    border-bottom: 2px solid #32886f;text-align: }

    input::placeholder{color: #32886f;font-weight: 600}


.form-check{margin: 15px}

.form-check-input[type=checkbox] {
   border-radius: 50%;
    margin-top: 6px;}


.form-check-label{font-size: 14px;color: #32886f;font-weight: 600}
.form-check-label a{color: #32886f}
.bttt{box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #e8eaf5;border: none;
;color: #32886f;padding: 8px 30px;border-radius: 10px;background: none;font-weight: bold;}
.hrr{margin-bottom: 30px}
.bttt:hover{box-shadow: 0px 0px 9px -2px rgba(0,0,0,0.75);}
.su-contact{margin-top: 80px}
.su-contact img{width: 100px;border-radius: 20px}
.dropdown-menu img{width: 250px}
.nav-link img{background: red;}
.sub-min1{width: 90%;
    margin: auto;border:3px solid #32886f;padding: 10px;border-radius: 20px;margin-bottom: 20px}

.sub-min1 div > p{text-decoration: none;color:#32886f ;
font-size: 16px;font-weight: bold;}
.sub-min1 div > p > i{font-size: 20px;padding-right: 5px}
.sub-ican-text p a{text-decoration: none;color:#32886f ;
font-size: 18px}
.sub-ican-text span{font-size: 20px;font-weight: bold;color: 
#32886f}
.sub-ican i{font-size: 25px;color: #32886f}


/*slid show*/
.sub-slid-show img{width: 50%;margin-top: 60px;border-radius: 100%;
box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
height: 100%}
.sub-slid-show h2{font-size: 11px;margin-top: 10px}

/*Triding*/
.card1{width: 100%;margin-top: 60px;
}
/*service charges*/
.back-charg img{width: 100%}
.hrr{color: #32886f;margin: auto;width: 300px;padding: 1px;margin-bottom: 
  70px;}
  
.red-text img{width: 400px;}








/*footer*/

.footer ul li a{text-decoration: none; color: white;font-weight: 700}
.footer{background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    z-index: 997;}
   .footer h6{font-size: 20px;padding: 20px 0;font-weight: 700;margin-top: 15px;color: #fff} 
.footer ul li{color: #fff;list-style: none;}
.footer ul li a:hover{color: #b5e2e1;}
.footer p a:hover{color: #b5e2e1;}
.footer p a{font-size: 36px;color: #fff;text-decoration: none;}
.footer p a span{font-size: 18px}
.rotateimg180 {
  
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.social-links a {
  font-size: 18px;
  background: transparent;
  padding: 2px 0px;
  margin:5px;
  border-radius: 5px;
  text-align: center;
  width: 35px;
  transition: 0.3s;
  color: #fff;
  border: solid 2px #fff


}


.social-links a:hover {
  text-decoration: none;
  color: white;border-radius: 33.33%;color: #b5e2e1;border-color: #b5e2e1
}



/*Manufacture*/

.Manufactur-img img{width: 100%;border-radius: 20px}
.Manufactur-text span{font-size: 21px;font-weight: bold;color: #32886f;}

.why-choose{width: 57%}



/*blog*/
.su-blok img{width: 300px;height: 250px}
.su-blok{border: solid 1px #000;}
.su-blok button{width: 100%;font-size: 23px;}


/*end*/


.card-body h4{font-weight: bold;}






/*footer*/
.sub-footer span img{width: 70px}
.link li{list-style: none;}
.link{padding-top: 10px}

.footer{background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);;
    z-index: 997;}
.link li{color: #fff;}
.link li:hover{color: white}
.sub-footer{margin-top: 50px}




.card-footer a{text-decoration: none;padding-right: 15px}









/*--------------News Section------------------------------*/
.news-section h2 {
  color: #222222;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.news-section .news-post {
  margin-bottom: 30px;
}
.news-section .news-post img {
  width: 100%;

}
.news-section .news-post h2 {
  margin-bottom: 2px;
  padding:0px;
  text-transform:none;
}
.news-section .news-post h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #222222;
  font-size: 20px;
  line-height:1.3em;
  padding-top:20px;
  font-weight:500;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-section-home .blog_infos li{
  font-size: 11px;
  
}
.news-section-home .blog_infos li a:hover { background:none; text-decoration:none;}
.news-section-home .post-content-text{
  text-align: left;
  padding: 0px 15px;
  
}
.news-section-home .post-content-text p{
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
  padding-bottom:0px;
  margin-bottom:10px;
}
.news-section .news-post h2 a:hover {
  color: #f95800 !important;
}
.news-section .news-post span {
  display: inline-block;
  color: #666666;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.news-section .news-post .btn.readmore {
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  display: inline-block;
  background: #fe6000;
  position: relative;
  line-height: 40px;
  border-radius: 2px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0px 27px;
}
.news-section .news-post > a:hover {
  color: #ffba00;
}
.news-section .news-box .col-md-3{
  padding: 0px 7.5px;
}
.news-section .news-box article{
  padding: 0px 15px;
  float: left;
  background: #fff;
  border: 1px solid #f2f2f2;
    border-radius: 2px;
  margin-bottom: 10px;
}
.news-section .news-box article:hover{
  box-shadow: 0px 10px 10px  #f2f2f2;
}
.news-section .news-box article .img-box{
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}
.news-section .news-box article .img-box:hover img{
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
      transition: -webkit-transform .7s;
    transition: transform .7s;
    transition: transform .7s,-webkit-transform .7s;
}
.news-section .news-post h2 a:hover, .blog-section .blog-box .blog-post h2 a:hover {
  color: #ffba00;
}
.news-section .blog_infos, .blog-section .blog_infos {
  margin: 0 0 10px;
  display: block;
}
.news-section .blog_infos li, .blog-section .blog_infos li {
  padding: 0;
  display: inline-block;

}
.news-section .blog_infos li + li:before, .blog-section .blog_infos li + li:before {
  content: '';
  width: 1px;
  height: 14px;
  float: left;
  margin: 0 10px;
  background: #282828;
}
.news-section .blog_infos li a, .blog-section .blog_infos li a {
  color: #282828;
font-weight: 400;
letter-spacing: .5px;
line-height: 14px;
  text-transform:capitalize;
padding: 0;
white-space: nowrap;
}
.news-section .blog_infos li a i, .blog-section .blog_infos li a i {
  margin-right: 8px;
}
.news-section .blog_infos li a:hover, .blog-section .blog_infos li a:hover {
  background: none;
  color: #443a44;
}
.news-section .blog_infos.nav{
  padding:0px;
  margin:0px;
  font-weight:600;
  font-size:12px;
}



.our_services_img_main{display: flex;justify-content: center;align-items: center;flex-wrap: wrap;}
.our_services_section_1 img{padding-bottom: 50px}
.our_services_box {width: 25%;text-align: center;}
.our_services_section_2 {padding-top: 60px}
.our_services_box h3{font-size: 20px;padding: 10px 0;font-weight: 700;margin-top: 15px}
.our_services_box p{font-weight: 600;line-height: 25px;padding: 0 30px;}





.box-gallery {
  padding-top: 19px;
  padding-bottom: 6px; }

.gallery-wrapper {
  margin-bottom: 10px;
  position: relative;
  border: solid 1px #ededed;
  z-index: 1;
  margin-right: 3px; }

.gallery-wrapper:before {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: -3px;
  bottom: -3px;
  border: solid 1px #ededed;
  content: '';
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.gallery-wrapper li {
  list-style: none;
  float: left; }

.gallery-wrapper li img {
  display: block;
  width: 100%; }

.line-gallery-pager {
  position: relative;
  text-align: center;
  display: block;
  margin: 22px 3px 0 0px;
  background: url(../img/box_line.png) repeat-x left 4px; }

.gallery-pager {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: #ffffff;
  z-index: 2;
  padding: 0 10px 0 10px; }

.gallery-pager a {
  background: #ffffff;
  border: solid 1px #dbdbdb;
  width: 11px;
  height: 11px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: top;
  margin: 0 2px 0 1px;
  outline: none; }

.gallery-pager a:hover,
.gallery-pager a.selected {
  background: #fa5800;
  border-color: #fa5800; }






.gallery_section_inner_img img{width: 100%;cursor: pointer; }
.Office_gallery_main h2{font-size: 40px;color: #32886f;}  

     .Office_gallery_main img{padding: 20px 0}


     .grid-item { width: 33.33%;padding: 10px 10px }
 .grid{ margin: -20px -20px;margin-top: 30px}

.card-text:last-child{font-weight: bold;}
.card{border:none;}
.card img{border-radius: 10px;min-height: 200px}

.card_box











/*responsive*/




@media only screen and (max-width: 768px) {
                .carousel-caption {top: 58%}
                [class^="col-lg-"] {
    min-height: 24px;
    padding: 10px 0;
}
  
.our_services_box {width: 50%;}
.carousel-item {
  
    height: 347px;}
.carousel-caption h5{font-size: 35px}




}


@media only screen and (max-width: 767px) {
  .min-div{height: 687px}


}



@media only screen and (max-width: 540px) {
.carousel-caption {
    top: 12%;
}

.carousel-item {
    height: 313px;
}

.buttom {
    margin-bottom: -20px;
    padding: 48px 0;
    color: #32886f;
}

.text-com{padding-top: 40px}

.main_our_service{padding-top: 50px}
.Office_gallery_main{padding-top: 50px}
.grid-item {
    width: 50%;
    padding: 10px 10px;
}
.carousel-caption {
    top: 58%;
}
.carousel-item {
    height: 245px;
}
.carousel-caption h5{font-size: 30px}



}





@media only screen and (max-width: 1200px) {
.text-com p{padding: 5px}
.our_services_section h2{margin-top: 140px}
}


@media only screen and (max-width: 992px) {

.carousel-item {height: 450px}
.carousel-item img{min-height: 450px}
.featured-services1 .icon-box{padding: 5px}
.footer p a{font-size: 18px;color: #fff;}
.footer p a span{font-size: 13px}
}

@media only screen and (max-width: 767px) {

.carousel-item {height: 400px}
.carousel-item img{min-height: 400px}
.featured-services1 .icon-box{padding: 5px}
.footer p a{font-size: 36px;color: #fff;}
.footer p a span{font-size: 18px}
.circlips_back{height: auto;}
.circlips_back_flip{height: auto;}
.our_services_section h2{margin-top: 20px}
.portfolio-wrap{width: 95%;margin:auto;}
.why-choose{width: 90%}
}

@media only screen and (max-width: 565px) {
.carousel_heading h1{font-size: 30px;}
.carousel_heading p{font-size: 18px}
.carousel-item {height: 300px}
.carousel-item img{min-height: 300px}
.featured-services1 .icon-box{padding: 5px}
.footer p a{font-size: 36px;color: #fff;}
.footer p a span{font-size: 18px}
.circlips_back{height: auto;}
.circlips_back_flip{height: auto;}
.our_services_section h2{margin-top: 20px}
.portfolio-wrap{width: 95%;}
.why-choose{width: 98%}
.red-text img{width: 100%;}

}
